body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}
div {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: black;
}
div img {
    width: 150px;
    border-radius: 50%;
}
div h1 {
    margin: 10px 0;
}
div a {
    color: #00aaff;
    text-decoration: none;
    font-weight: bold;
}
div {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding: 8px 0;
    font-size: 1.1em;
}